# 本项目
vendor

# ai相关
.qoder
.cursor
.codex
.claude

# 依赖锁文件
*-lock.*

# 项目
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
cypress
stats.html

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.zed